#pages {
    margin-top: 66px;
    margin-bottom: 126px;
}

.modal.show {
    display: block;
}

header {
    height: 56px;
}

header > nav {
    height: 56px;
}

footer {
    color: var(--bs-light-text);
}